<ul class="comments" style="list-style-type:none">
    {% for comment in comments %}
    <li class="comment row">
        <div class="comment-thumbnail col-sm-1" align="center">
            <a href="{{ url_for('.user', username=comment.author.username) }}">
                   <img src="{{ comment.author.gravatar(size=40) }}" class="img-rounded profile-thumbnail">
            </a>
            <div class="comment-author"><a href="{{ url_for('.user', username=comment.author.username) }}">{{ comment.author.username }}</a> </div>
        </div> 
        <div class="comment-content col-sm-9 row">
            <div class="comment-body">
                {% if comment.disabled %}
                    <p><i>该评语已被管理员屏蔽</i></p>
                {% endif %}
                {% if moderate or not comment.disabled %}
                    <p>{% if comment.body_html %}
                        {{ comment.body_html|safe }}
                    {% else %}
                        {{ comment.body }}
                    {% endif %}
                    </p>
                {% endif %}
            </div>
            <div class="comment-date">{{ moment(comment.timestamp).fromNow() }}</div>

        </div>
        <div class="col-sm-2 row">
            {% if moderate %}
                <br>
                {% if comment.disabled %}
                    <a class="btn btn-default btn-xs" href="{{ url_for('.moderate_enable', id=comment.id, page=page) }}">
                        可见
                    </a>
                {% else %}
                    <a class="btn-xs btn btn-danger" href="{{ url_for('.moderate_disable', id=comment.id, page=page) }}">
                        不可见
                    </a>
                {% endif %}
            {% endif %}
        </div>

    </li>
        <hr>
    {% endfor %}
</ul>