{% extends 'base.html' %}

{% block title %}Myblog-{{ user.username }}{% endblock %}

{% block page_content %}
<div class="page-header row">
    <div class="col-sm-5">
        <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
    </div>
    <div class="col-sm">
        <h1>{{ user.username }}</h1>

        {% if user.name or user.location %}
            <p>
            {% if user.name %}
                {{ user.name }}
            {% endif %}
            {% if user.location %}
                from <a href="http://maps.google.com/?q={{ user.location }}">
                {{ user.location }}
            </a>
            {% endif %}
            </p>
        {% endif %}
        {% if current_user.is_administrator() %}
            <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}
        {% if user.about_me %}  <p>{{ user.about_me }}</p>{% endif %}
            <p>注册时间: {{ moment(user.member_since).format('L') }} <br>
            上次登录时间: {{ moment(user.last_seen).fromNow() }}</p>
        <p>
            已发表{{ user.posts.count()}}篇文章
        </p>
        <p>
        {% if current_user.username != user.username and current_user.is_authenticated %}
            {% if not current_user.is_following(user) %}
            <a href="{{ url_for('.follow', username=user.username) }}" class="btn bg-primary">关注</a>
            {% else %}
            <a href="{{ url_for('.unfollow', username=user.username) }}" class="btn bg-primary">不关注</a>
            {% endif %}
        {% endif %}
            关注他的人:<a href="{{ url_for('.followers', username=user.username) }}">
                <span class="badge">{{ user.follower.count() - 1 }}</span>
            </a>&nbsp;
            他关注的人:<a href="{{ url_for('.followed_by', username=user.username) }}">
                <span class="badge">{{ user.followed.count() - 1 }}</span>
            </a>&nbsp;
            {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
                <span class="label label-default">关注你</span>
            {% endif %}
        </p>
        <p>
        {% if user == current_user %}
            <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">
                编辑资料
            </a>
        {% endif %}
        {% if current_user.is_administrator() %}
            <a class="btn-default btn" href="{{ url_for('.edit_profile_admin', id=user.id) }}">
            编辑资料[Admin]
            </a>

        {% endif %}

        </p>
    </div>
</div>
    <h3>{{ user.username }}发表的 blog</h3>
{#    {% for tag in user.tags %}#}
{#        <span class="label label-info"><a href="#">{{ tag }}</a></span>&nbsp;&nbsp;#}
{#    {% endfor %}#}
    {% include '_posts.html' %}
{% endblock %}
